.Itemimg
  %p.Image
    =image_tag "Boys&Girls", alt: "商品名：", class: "image"
  %h1.Itemname 
    = @item.name

.MessageBoxMain
  = render partial: 'message', collection: @messages
    

.BtnBtnBtn
  .Logout4
    .Logout__btn4
      = link_to "ログアウト", destroy_shop_session_path, method: :delete, class: 'logout-btn4'

  .Toppage3
    .Toppage__btn3
      = link_to "トップ", root_path, method: :get, class: 'toppage-btn3'



.Main_chat__Message_form
  =form_with model:[@item,@message], html: {class: "form"}, local: true do |f|
    .input-box
      = f.text_field :content, class: "input-box__text", placeholder: "商品のヒントをつぶやこう"
      = f.submit "そうしん", class: "submit-btn" 


