.Ranking  
  %p.Ranking-icon
    =image_tag "yama.jpg", alt: "おめでとう", class: "top-iconboy"
  %h2.aaa  ランキング
.Ranking-main
  - @all_ranks.each.with_index(1) do |item,i|
    .ranking__contents
      .ranking__content
        %p.ranking__number No.#{i}
        .ranking__name 
          //= item.name
          = link_to item.name, item_messages_path(item), method: :get, class: 'iine-ranking-btn'
        %p.ranking__iine #{item.likes.count}いいね 
          
              

.BtnBtn
  .Logout4
    .Logout__btn4
      = link_to "ログアウト", destroy_shop_session_path, method: :delete, class: 'logout-btn4'
  .Toppage3
    .Toppage__btn3
      = link_to "トップ", root_path, method: :get, class: 'toppage-btn3'

