%p    商品を新規登録しよう
%p.Top-icon
  =image_tag "pc.jpg", alt: "入力は慎重に", class: "top-icon1"  
.Setting
  = form_with model:[@item] , local: true , class: "SettingItem" do |f|
    = f.text_field :name, class: "SettingItemForm__input", placeholder: "商品名を入力してください"
    = f.submit "とうろく", class: "SettingItemForm__button"

.twobtn
  .Logout3
    .Logout__btn3
      = link_to "ログアウト", destroy_shop_session_path, method: :delete, class: 'logout-btn3'
  .Toppage2
    .Toppage__btn2
      = link_to "トップ", root_path, method: :get, class: 'toppage-btn2'

